snippet con "console.log"
console.log '$1'
endsnippet

snippet cv "console with var"
console.log '${1:${VISUAL}}: ', $1
endsnippet

snippet dir "console.dir"
console.dir $1
endsnippet

snippet it "it test def"
it 'should $1', ->
endsnippet

snippet de "describe test def"
describe '$1', ->
endsnippet
