snippet con "console log"
console.log($1)
endsnippet

snippet cv "console var"
console.log('$1:', $1)
endsnippet

snippet it "test"
it('should $1', () => {
	$2
})
endsnippet

snippet de "describe test def"
describe('$1', () => {
	$2
})
endsnippet
