snippet Plugin "Plugin Comment Block" b
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"                     ***    $1    ***
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
endsnippet

snippet Plug "Plugin" b
Plug '$0'
endsnippet
