snippet plug "Plugin Comment Block" b
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"                     ***    $1    ***
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
endsnippet

snippet Plu "Plugin" b
Plugin '$0'
endsnippet
