snippet sub
\subsection{$1}
$0
endsnippet

snippet code
\texttt{$1}
endsnippet

snippet i
\textit{$1}
endsnippet

snippet b
\textbf{$1}
endsnippet

snippet ul
\begin{itemize}
\item{$1}
\item{$2}
\item{$3}
\end{itemize}
endsnippet

snippet ol
\begin{enumerate}
	\item{$1}
	\item{$2}
	\item{$3}
\end{enumerate}
endsnippet
