snippet plug "Plugin Comment Block" b
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"                     ***    $1    ***
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
endsnippet

snippet Bun "Bundle" b
Bundle '$0'
endsnippet
