snippet plug "Plugin Comment Block" b
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"                     ***    $1    ***
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
endsnippet
